@import "tailwindcss";

html,body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
/*clerk user button adjust */

.cl-avatarBox{
    width: 3rem;
    height: 3rem;
}

input{
    background-color: white;
    accent-color: red;
    border:1px solid #ccc;
    color:#333;
}
