*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:serif;

}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fff;
}

.card{
  width: 300px;
  height: 330px;
  border: 2px solid green;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  margin: 20px 25px;
}
.card h1,h2{
  margin: 7px 8px;
}

.card img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

}

.parents{
  display: flex;
  flex-wrap: wrap;
}