body{
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
input{
  width: 150px;
  padding: 10px;
  margin: 10px;
}
button{
  padding: 10px;
}