body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f8fafc, #ffffff, #f1f5f9);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  width: 360px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid #e2e8f0;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}


.header h1 {
  font-size: 18px;
  font-weight: 600;
  color: #334155;
  margin: 0;
}


.subtext {
  font-size: 12px;
  color: #94a3b8;
}


.display-box {
  background: linear-gradient(90deg, #eef2ff, #ffffff);
  border: 1px solid #c7d2fe;
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


.number {
  font-size: 48px;
  font-weight: 800;
  color: #4f46e5;
}

.info-text {
  text-align: center;
  margin-top: 4px;
  font-size: 12px;
  color: #94a3b8;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 18px;
}


button {
  padding: 12px 10px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #e2e8f0;
  background: #fff;
  transition: 0.2s ease;
}


button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}


.inc {
  color: #4f46e5;
  border-color: #c7d2fe;
}


.dec {
  color: #dc2626;
  border-color: #fecaca;
}


.inc5 {
  grid-column: span 2;
  background: #eef2ff;
  border-color: #c7d2fe;
  color: #4338ca;
  font-weight: 600;
}


.clear {
  grid-column: span 2;
  background: #fff;
  color: #475569;
  border-color: #e2e8f0;
}


footer {
  margin-top: 16px;
  text-align: center;
  font-size: 12px;
  color: #94a3b8;
}