    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;

    }

    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    

        .col-1{ width:8.33% }
        .col-2{ width:16.66% }
        .col-3{ width:25% }
        .col-4{ width:33.33% }
        .col-5{ width:41.66% }
        .col-6{ width:50% }
        .col-7{ width:58.33% }
        .col-8{ width:66.66% }
        .col-9{ width:75% }
        .col-10{ width:83.33% }
        .col-11{ width:91.66% }
        .col-12{ width:100% }

    .header {
        text-align: center;
        background-color: black;
        color: white;
        height: 50px;
        padding-top: 15px;
        font-size: 16px;

    }


    .nav {
        height: 60px;
        display: flex;
        font-family: sans-serif;
        font-weight: 700px;
        font-size: 15px;
        border: 1px solid rgba(137, 135, 135, 0.4);
        position: relative;

    }

    .nav a {
        text-decoration: none;
        color: black;
        margin-right: 35px;
        padding-top: 25px;
        display: flex;

    }
    .nav a:hover{
        text-decoration: underline;

    }

    .nav img {
        padding: 5px;
        margin-left: 40px;
        margin-right: 200px;
    }
  
    

    .icon {
        font-size: 20px;
        padding-top: 18px;
        padding-left: 100px;

    }

    .icon i {
        margin-right: 16px;
    }

    i:hover {
        transform: scale(1.2);
    }

    .wp {
        height: 40px;
        width: 50px;
        position: fixed;
        bottom: 30px;
        right: 20px
    }

    .gallery {
        border: 1px solid #ccc;
        transition-duration: 1.5s;
    }

    .gallery:hover {
        transform: scale(1.1);
    }

    .desc {
        padding: 15px;
        text-align: center;
        font-size: 20px;
        font-weight: bolder;
        background-color: rgb(166, 110, 110, 0.4);
    }

    .sport {
        padding: 0 6px;
        float: left;
        width: 19.99999%;
        margin-top: 50px;
        background-image: url(img/logo.jpg);
        transition-duration: 1s;

    }


    .seller {
        width: 25%;
        margin-top: 30px;
        margin-bottom: 50px;
        transition-duration: 1s;

    }


    .seller p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    .seller img:hover {
        transform:scaleX(-1);
    }


    .ck {
        display: flex;
        margin-top: 70px;
        padding: 20px 60px;
    }

    .ck img {
        margin-right: 15px;
    }

    .arrive{
        background-color: black;
        color: white;
        height: 400px;
        width: 100%;
        margin-top: 50px;
        padding:100PX 70PX;
        transition-duration: 1s;
       
    }
    .arrive button{
        height: 35px;
        width: 130px;
        background-color: ghostwhite;
        color: black;
        display: flex;
        padding: 10px;
    }
    .arrive p.one{
        font-size: 50px;
        padding-left:  20px;
        color: red;
    }
    .arrive p.two{
        font-size: 80px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .arrive img{
        position: relative;
        left: 600px;
        bottom: 250px;
        margin: 10px 20px;
    }

    .arrive img:hover{
        transform: scale(1.2);
    }

    .banner {
        margin-top: 60px;

    }

    .team {
        margin-top: 50px;

    }

    .team h1 {
        text-align: center;
        margin-bottom: 40px;
    }

    .teams {
        margin-left: 180px;

    }

    .teams img {
        border: 0px solid;
        border-radius: 5px;
        margin-right: 40px;
        box-shadow: 5px 5px 10px black;
    }

    .team img:hover {
        box-shadow: 3px 2px 15px rgba(183, 10, 19, 0.825);
    }

    .insta {
        text-align: center;
        margin-top: 100px;
        font-size: 25px;
        font-family: sans-serif;
    }

    .insta i {
        font-size: 30px;
    }

    .ads {
        display: flex;
    }

    .ads video {
        margin-right: 10px;

    }

    .footer{
        display: flex;
        background-color: black;
        color: white;
    }
    .icn{
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
        justify-content:start; 
    }
    .icn p{
            margin-left: 15px;

    }

 
    .footer i {
        font-size: 35px;
        color: white;

        }
     .footer i:hover{
            transform: scale(1.2);
        }
    

    .footer h2 {
        margin: 5px 15px;
    }

    .footer p {
        font-size: 20px;
        margin-top: 15px;

    }

    ul li {
        list-style-type: none;
        margin-left: 10px;
        margin-top: 30px;
        font-size: 17px;
        margin-bottom: 10px;
    }

    hr.new3 {
        border: 1px solid red;
        margin-top: 0px;
    }

    .end {
        background-color: black;
        display: flex;

    }

    .end img {
        margin: 20px 50px;
        
    }

    .end p {
        text-align: right;
        font-size: 18px;
        color: white;
        margin-left: 65%;
        margin-top: 30px;

    }

.email-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #666;
  max-width: 500px;
  margin: 20px;
  padding: 5px 0;
  margin-top: 60px;
}

.email-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  padding: 8px 0;
}

.send-btn {
  background: none;
  border: none;
  color: red;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
  transition: color 0.3s ease;
  
}

.send-btn:hover {
  color: #ff4d4d;
}

    /* club ki css */
    
    .club{
        padding: 30px 20px;
        font-size: 20px;
       
    
    }
    hr.new1 {
        border: 1px solid rgb(32, 31, 31);
        width: 80%;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    .club a{
        text-decoration: none;
        margin-right: 8px;
        color: rgb(80, 76, 76);
        display:inline;
     
    }
    .club h2{
        margin-top: 70px;
        margin-bottom: 30px ;
        font-family:cursive;
    }
    .club p{
        margin-right: 50px;
        float: left;
    }
    .siz{
        margin-top: 40px;
       
    }
    
    .siz button{
      
        padding: 20px;
        padding-top: 10px;
        margin: 10px 10px;
        height: 20px;
        width: 80px;
        font-size: 15px;
        background-color: white;
        color:black;
    }

    .siz button:hover{
        background-color: black;
        color: white;
        }

    .prc{
        margin-top: 50px;
        font-size: 30px;
    }
    .prc button{
      padding-right: 10px;
      margin-right: 40px;
      height: 30px;
      width: 80px;
      font-size: 15px;
      font-family:fantasy;
      margin-top: 10px;
      

    }
    .prc span{
        padding-right: 20px;
        padding-left: 5px;
    }

    .items{
        margin: 50px 0px;
    
    }
    .ts{
        width: 25%;
        height: 420px;
        float: left;
        margin-right: 60px;
        margin-bottom: 40px;
        transition-duration: 0.7s;
        margin-left: 20px;
    }

    .ts button{
        width: 100%;
        height: 40px;
        background-color: black;
        color: white;
        visibility: hidden;
    }

    .ts:hover{
        border:1px solid rgb(114, 103, 103);
      
    }
    .ts img:hover{
          transform:scaleX(-1);
    }
    .ts:hover button{
        visibility: visible;
    }
    
    .ts h3{
        margin-left: 30px;
        text-align: center;
        
    }
    .ts h4{
        text-align: center;
    }
    .ts p{
         margin-left: 70px;
         padding-top: 10px;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         font-weight: 1200;
     
    }

    /* all sport li css*/

    .as{
        font-size: 25px;
        padding: 20px 30px;
    }
    .asid{
        padding: 29px 30px;
        font-family: sans-serif;
    }
    .scr{
        height: 230px;
        padding-left: 20px;
        padding-right: 50px;
        overflow-x:auto;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 90%;
        
    }
     
    .cate{
        display: flex;
        justify-content:space-between;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-top: 10PX;
        font-weight: 300;
    }
    .size{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-right: 20px;
        margin-right: 20px; 
        padding-left: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: 300;
      
    }
    .sz{
      
        height: 200px;
        width: 90%;
        overflow-x: auto;
    }
  .asid {
        position: sticky;
        top: 0;
        align-self: flex-start; /* Flex layout me sticky ko kaam karne me help karta hai */
        background: #fff; /* Zarurat ho to background color fix kar do */
        z-index: 10;
}

.items p{
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* cricket ki css */



.category{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.cricket_cat{
        width: 180px;
        height: 150px;
        text-align: center;
        padding-left: 40px;
}

.main h1{
    padding: 50px 50px;
}

.launch{
    width: 20%;
    height:350px;
    float: left;
    padding-left: 10px;
}

.dis{
    font-size: 16px;
    padding-left:20px;
    padding-top: 8px;
}
.price{
    padding-left:20px;
    padding-top: 3px;
    color: red;
    font-size: 20px;
}

.blg{
    margin-bottom: 20px;
}

.blg h1{
    padding: 30px 50px;
}

.blogs{
    height: 550px;
    width: 30%;
    margin-left: 40px;
    border: 1px solid black;
    font-size: 15px;
    font-weight:100;
    font-family:sans-serif;
    float:left;
}
.blogs a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-weight: 200;
    padding-top: 50px;
    padding-left: 15px;
}

.blogs h3{
    padding:15px 10px; 
    font-weight: 200;
    
}
.blogs span{
    padding: 15px 10px;
}
.blogs p{
    padding: 10px 10px;
    margin-bottom: 30px;
    
}

/* football kis css */

.footabll_cat{
    height: 150px;
    width: 150px;
    margin-left: 10px;
    padding-top: 30px;
    padding-left: 110px;
    text-align: center;
    
    
} 

.footabll_cat img{
    height: 130px;
    width: 130px;
    border-radius: 10px;
   
}
.footabll_cat P{
    text-align: center;
    margin-left: 15px;
    
}

.fc{
    display: flex; 
}

.level h1{
    padding-top: 90px;
    padding-left: 50px;
}

.shop_level{
    float: left;
    width: 33%;
    padding: 10px 15px;
}

.bner{
    padding: 30px 30px;
}

.partner{
    padding-left: 20px;
    padding-right: 18px;
    height: 500px;
}

.partner img{
    border-radius: 10px;
}

.prt1{
    height:240px ;
    margin-bottom: 10px;
    padding-right: 15px;
    
}
.prt1 img{
    height: 100%;
    border-radius: 10px;
}

/* volly ball ki css*/

.bner2{
    margin: 30px 15px;
  
}
.bner2 img{
    padding-top: 30px;
}



/* nav me club div hide/remove ke css */

.logos{
    position: absolute;
    top: 58px;
    left: 50px;
    display: flex;
    justify-content:space-evenly;
    background-color: white;
    width: 90%;
    height: 100px;
    visibility: hidden;
    
}

.club_hover:hover .logos{
    visibility: visible;
}


.clubs_img{
    width: 100px;
    height: 70px;
    
    
}
.clubs_img p{
    text-align: center;
}

/* nav me all sport div hide/remove ke css */

.ashover{
    position: absolute;
    top:60px;
    left: 40px;
    background-color: white;
    width: 94%;
    visibility: hidden;
    font-size: 18px;
    display: flex;
}


.all_sport_hover{
    width: 12%;
    padding-left: 10px;
}

.all_sport_hover p{
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
}


.all_sport_hover img{
    padding-top: 10px;
}


.all_sport_hover ul li{
        margin-top: -2px;
        font-size: 15px;
        font-family: Montserrat, serif;
        font-weight: 300;
}

.all_sport_hover li{
    padding:7px;
}

.allhover:hover .ashover{
    visibility: visible;

}

/* nav me apprale div hide/remove ke css */

.apparel_hover{
    position: absolute;
    top:60px;
    left: 40px;
    background-color: white;
    width: 94%;
    display: flex;
    visibility: hidden;
   
    
}

.APPAREL{
    padding: 0px 20px;
   
}
.APPAREL span{
    display: flex;
    padding: 8px 10px;
    font-family: Montserrat;
    font-weight: 300;
  
}

.APPAREL p{
    padding: 10px 20px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 700;
}
.appimg{
        margin-left: 200px;
        width: 690px;
        padding-top: 30px;
        
}
.APl:hover .apparel_hover{
    visibility: visible;
}

/* nav me footwaear div hide/remove ke css */ 

.foot_hover{
    position: absolute;
    top:60px;
    left: 40px;
    background-color: white;
    width: 94%;
    display: flex;
    visibility:hidden;
    
}
.foot:hover .foot_hover{
    visibility: visible;
}

/* nav me fitness div hide/remove ke css */

.fit_hover{
    position: absolute;
    top:60px;
    left: 40px;
    background-color: white;
    width: 94%;
    display: flex;
    visibility: hidden;

}

.fit:hover .fit_hover{
    visibility: visible;
}

/* nav me mucle sport div hide/remove ke css */
   
  .mucle_hover{
    position: absolute;
    top:60px;
    left: 40px;
    background-color: white;
    width: 94%;
    display: flex;
    visibility: hidden;
  }

  .mucle_sport{
    width: 130px;
    border: 2px solid;
  }

  .mucle_sport span{
        padding: 5px 10px;
  }

  .mucleimg{
    width: 650px;
  }

  /*   */