*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: rgb(40, 39, 39);
  color: white;
}
h1{
  border-radius: 12px;
  background-color: #7d7676;
  width: 150px;
  align-content: center;
  padding: 10px 60px;
  margin: 10px 50px;
}
button{
  padding: 10px;
  margin: 10px 30px;
  border-radius: 10px;
}
.box{
  width: 500px;
  margin: 150px 500px;
}
p{
  background-color:#667676;
  font-size: 20px;
  width: 200px;
  padding: 20px 40px;
  margin: 30px 50px;
  border-radius: 10px;
}