*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #339e97;
}
ul{
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  padding: 0px 18px;
}
button{
  margin: 12px;
  padding: 10px 20px;
  background-color: aquamarine;
  border-radius: 12px
}