* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: #222;
  color: rgb(255, 255, 255);
}

.notes {
  width: 40%;
  height: 800px;
  padding: 40px;
  background-color:;
  text-align: center;
}

.notes form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  height: 40px;
}
input::placeholder{
    padding: 5px;
}
.main{
  display: flex;
}
.data{
  background-color: #233;
  width: 60%;
  height: auto;
  padding: 12px;
  flex-wrap: wrap;
  padding-left: 85px;
}
.datas{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.data h2{
  text-align: center;
  margin: 20px 0px;
}
.shownotes{
  background-color: whitesmoke;
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 180px;
  color: black;
  border-radius: 12px;
  position: relative;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf3bUzcfjXEgpNynCGXAL2naN49al7QDepIQ&s");
  background-size: cover;
}
.shownotes h4{
  text-align: center;
  margin: 10px 0px;
}
.delet{
  position: absolute;
  bottom: 5px;
  padding: 6px;
  margin: 5px;
  border: 1px solid;
  border-radius: 10px;
  color: white;
}