body{
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: white;
}
button{
  padding: 10px 20px;
  margin: 10px;
}
h1{
  font-size: 35px;
}